name: New release workflow
defaults:
  run:
    working-directory: ./src/CredentialManagement

permissions:
  contents: read
  packages: write

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.x'
    - run: dotnet nuget add source --username holistic-net --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/holistic-net/index.json"
    - run: dotnet build --configuration Release
    - run: dotnet pack --configuration Release --output ./nupkgs
    - run: dotnet nuget push "bin/Release/*.nupkg" --api-key ${{ secrets.GITHUB_TOKEN }} --source "github"
    - run: dotnet nuget push "bin/Release/*.nupkg" --api-key ${{ secrets.NUGET_ORG_TOKEN }} --source https://api.nuget.org/v3/index.json
    
